################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MagneticFields/obj
/MagneticFields/Logs
*.log
*.db
/MagneticFields/Library/StateCache
/MagneticFields/Library/ShaderCache
/MagneticFields/Library/ScriptAssemblies
/.vs
/MagneticFields/.vs
/MagneticFields/Assets/PlugIns
/MagneticFields/Library/metadata
/MagneticFields/Library/PackageCache
/MagneticFields/Library/PlayerDataCache/Android
/MagneticFields/Temp/bin/Debug
/MagneticFields/Temp
/MagneticFields/Library/assetDatabase3
*.buildreport
/MagneticFields/Library/EditorUserBuildSettings.asset
/MagneticFields/Library/EditorUserSettings.asset
/MagneticFields/Library/CurrentLayout-default.dwlt
/MagneticFields/Library/EditorInstance.json
/MagneticFields/Builds/MagneticFields.apk
/MagneticFields/Assets/MagneticFields/Reading/Heading.cs
*.meta
